{% if button.not_interactive %}
	<div class="button button--not-interactive
		{% if button.class %} {{ button.class }}{% endif %}
		{% if button.size %} button--{{ button.size }}{% endif %}
		{% if button.theme %} button--{{ button.theme }}{% endif %}
		{% if button.mobTheme %} button--mob-{{ button.mobTheme }}{% endif %}
		{% if button.icon %} button--has-icon{% endif %}
		{% if button.icon_caption %} button--icon-caption{% endif %}
		{{ button.fit ? " button--fit" : "" }}{{ button.mobFit ? " button--mob-fit" : "" }}{{ button.iconLeft ? " button--icon-left" : "" }}">
		{% if button.icon and button.iconLeft %}
			<span class="button__icon">
				{% view '@icon' with {
					icon: button.icon
				} %}
			</span>
		{% endif %}
		{% if button.text %}
			<span class="button__text">{{ button.text }}</span>
		{% endif %}
		{% if button.icon and not button.iconLeft %}
			<span class="button__icon">
				{% view '@icon' with {
					icon: button.icon
				} %}
			</span>
		{% endif %}
		{% if button.icon_caption %}
			<div class="button__icon-caption">
				{% view '^icon-caption' with {
					icon_caption: button.icon_caption
				} %}
			</div>
		{% endif %}
	</div>
{% else %}
	{% if button.href %}
		<a href="{{ button.href }}"
		   class="button{% if button.class %} {{ button.class }}{% endif %}{% if button.size %} button--{{ button.size }}{% endif %}{% if button.theme %} button--{{ button.theme }}{% endif %}{% if button.mobTheme %} button--mob-{{ button.mobTheme }}{% endif %}{% if button.icon %} button--has-icon{% endif %}{% if button.disabled %} button--disabled{% endif %}{{ button.fit ? " button--fit" : "" }}{{ button.mobFit ? " button--mob-fit" : "" }}{{ button.iconLeft ? " button--icon-left" : "" }}{% if button.icon_caption %} button--icon-caption{% endif %}"{% if button.attr %} {{ button.attr }}{% endif %}{% if button.title %} title="{{ button.title }}"{% endif %}>
			{% if button.icon and button.iconLeft %}
				<span class="button__icon">
				{% view '@icon' with {
					icon: button.icon
				} %}
			</span>
			{% endif %}
			{% if button.text %}
				<span class="button__text">{{ button.text }}</span>
			{% endif %}
			{% if button.icon and not button.iconLeft %}
				<span class="button__icon">
				{% view '@icon' with {
					icon: button.icon
				} %}
			</span>
			{% endif %}
			{% if button.icon_caption %}
				<div class="button__icon-caption">
					{% view '^icon-caption' with {
						icon_caption: button.icon_caption
					} %}
				</div>
			{% endif %}
		</a>
	{% else %}
		<button type="{{ button.type?: 'button' }}"
				class="button{% if button.class %} {{ button.class }}{% endif %}{% if button.size %} button--{{ button.size }}{% endif %}{% if button.theme %} button--{{ button.theme }}{% endif %}{% if button.mobTheme %} button--mob-{{ button.mobTheme }}{% endif %}{% if button.icon %} button--has-icon{% endif %}{{ button.fit ? " button--fit" : "" }}{{ button.mobFit ? " button--mob-fit" : "" }}{{ button.iconLeft ? " button--icon-left" : "" }}{% if button.icon_caption %} button--icon-caption{% endif %}"{% if button.attr %} {{ button.attr }}{% endif %}{% if button.title %} title="{{ button.title }}"{% endif %}{% if button.disabled %} disabled{% endif %}>
			{% if button.icon and button.iconLeft %}
				<span class="button__icon">
				{% view '@icon' with {
					icon: button.icon
				} %}
			</span>
			{% endif %}
			{% if button.text %}
				<span class="button__text">{{ button.text }}</span>
			{% endif %}
			{% if button.icon and not button.iconLeft %}
				<span class="button__icon">
				{% view '@icon' with {
					icon: button.icon
				} %}
			</span>
			{% endif %}
			{% if button.icon_caption %}
				<div class="button__icon-caption">
					{% view '^icon-caption' with {
						icon_caption: button.icon_caption
					} %}
				</div>
			{% endif %}
		</button>
	{% endif %}
{% endif %}

