<div{% if modal.id %} id="{{ modal.id }}"{% endif %}
	class="modal modal--message mfp-hide{% if modal.class %} {{ modal.class }}{% endif %}{% if modal.attr %} {{ modal.attr }}{% endif %}"{% if modal.timer %} data-timer="{{ modal.timer }}"{% endif %}>
	<div class="modal__wrapper">
		<div class="modal__container">
			<div class="modal__inner">
				<button type="button" class="modal__close" title="Закрыть" data-modal-close>
					{% view '@icon' with {
						icon: {
							name: "24/cross"
						}
					} %}
				</button>
				<div class="modal__content">
					{% if modal.heading %}
						<p class="modal__heading h3" data-ajax-heading>{{ modal.heading }}</p>
					{% endif %}
					{% if modal.text %}
						<p class="modal__text text-default" data-ajax-text>{{ modal.text }}</p>
					{% endif %}
					{% if modal.action %}
						<div class="modal__action">
							{% view '@button' with {
								button: modal.action
							} %}
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</div>
</div>

